# =============================================================================
# C O P Y R I G H T
# -----------------------------------------------------------------------------
# Copyright (c) 2020 by Helmut Konrad Fahrendholz. All rights reserved.
# This file is property of Helmut Konrad Fahrendholz. Any unauthorized copy,
# use or distribution is an offensive act against international law and may
# be prosecuted under federal law. Its content is company confidential.
# =============================================================================

utila==2.16.1

# generate doc references
writers==1.1.4
# dump and load findings
protocol==3.1.6
# docref converter
words==0.24.0

iamraw==4.6.0
words==0.24.0
# define holy values
configo==0.8.6
